{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="bread-crumb">
			<div class="container">
				<a href="{% url 'index' %}">Главная страница</a> <span>О нас</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages">
			<div class="container">
				<div class="content-about">
					<h2 class="title30 mont-font">О нас</h2>
					<p class="desc"><br><br><br>GoodShop has been a family-owned, designer furniture institution in Western Australia since 1997. Having established a solid reputation built on honesty and integrity, designFARM offer their customers a genuine experience. We believe in good, authentic design, in order to do what we do best – create meaningful spaces. You won’t find any replica’s here – we only source original furniture, which is made under license. Why? Because we want your furniture to last a lifetime, as well as its story.</p>
					<p class="blockquote">
						Lorem ipsum dolor sit amet conse ctetur adipisicing elit do eiusmod tempor. Dolor sit amet conse ctetur adipisicing elit do eiusmod tempor. Lorem ipsum dolor sit amet conse ctetur adipisicing elit do eiusmod tempor.
					</p>
					<div class="about-why-choise">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<h2 class="title18">Почему выбирают нас</h2>
								<div class="about-accordion toggle-tab">
									{% for whychooseus in whychooseus %}
									<div class="item-toggle-tab">
										<div class="toggle-tab-title"><span class="bg-color"><i class="fa fa-gift"></i></span><h2>{{whychooseus.title}}</h2></div>
										<p class="desc toggle-tab-content">{{whychooseus.desc}}</p>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="banner-adv overlay-image zoom-image">
									<a href="#" class="adv-thumb-link"><img src="{% static 'images/pages/img-about.jpg' %}" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Choise -->
					<div class="about-client">
						<h2 class="title18">What people are saying</h2>
						<div class="about-client-slider">
							<div class="wrap-item" data-autoplay="true" data-pagination="false" data-itemscustom="[[0,1],[560,2],[990,3]]">
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{% static 'images/pages/av1.jpg' %}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">Lorem enim et luctus hendrelibero mole stie ante, ut fringilla purus eros quisent ipsum. Aliquam bidum. Thank you!</p>
										<h3 class="title14"><a href="#" class="color">Vincent Vanilla</a></h3>
										<span class="silver">happy customer</span>
									</div>
								</div>
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{% static 'images/pages/av2.jpg' %}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">Lorem enim et luctus hendrelibero mole stie ante, ut fringilla purus eros quisent ipsum. Aliquam bidum. Thank you!</p>
										<h3 class="title14"><a href="#" class="color">Gregor Red</a></h3>
										<span class="silver">loyal customer</span>
									</div>
								</div>
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{% static 'images/pages/av3.jpg' %}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">Lorem enim et luctus hendrelibero mole stie ante, ut fringilla purus eros quisent ipsum. Aliquam bidum. Thank you!</p>
										<h3 class="title14"><a href="#" class="color">Alexander Green</a></h3>
										<span class="silver">happy customer</span>
									</div>
								</div>
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{% static 'images/pages/av4.jpg' %}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">Lorem enim et luctus hendrelibero mole stie ante, ut fringilla purus eros quisent ipsum. Aliquam bidum. Thank you!</p>
										<h3 class="title14"><a href="#" class="color">Vincent Vanilla</a></h3>
										<span class="silver">happy customer</span>
									</div>
								</div>
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{% static 'images/pages/av5.jpg' %}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">Lorem enim et luctus hendrelibero mole stie ante, ut fringilla purus eros quisent ipsum. Aliquam bidum. Thank you!</p>
										<h3 class="title14"><a href="#" class="color">Gregor Red</a></h3>
										<span class="silver">loyal customer</span>
									</div>
								</div>
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{% static 'images/pages/av6.jpg' %}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">Lorem enim et luctus hendrelibero mole stie ante, ut fringilla purus eros quisent ipsum. Aliquam bidum. Thank you!</p>
										<h3 class="title14"><a href="#" class="color">Alexander Green</a></h3>
										<span class="silver">happy customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Client -->
					<div class="about-why-choise">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="banner-adv overlay-image zoom-image">
									<a href="#" class="adv-thumb-link"><img src="{% static 'images/pages/img-about.jpg' %}" alt="" /></a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<h2 class="title18">Что мы предлагаем</h2>
								<div class="about-accordion toggle-tab">
									{% for whatdoweoffer in whatdoweoffer %}
									<div class="item-toggle-tab">
										<div class="toggle-tab-title"><span class="bg-color"><i class="fa fa-gift"></i></span><h2>{{whatdoweoffer.title}}</h2></div>
										<p class="desc toggle-tab-content">{{whatdoweoffer.desc}}</p>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<div class="wishlist-mask">
		<div class="wishlist-popup">
			<span class="popup-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
			<p class="wishlist-alert">"Lucky shop Product" was added to wishlist</p>
			<div class="wishlist-button">
				<a href="#">Continue Shopping (<span class="wishlist-countdown">10</span>)</a>
				<a href="#">Go To Shopping Cart</a>
			</div>
		</div>
	</div>
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}