{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="banner-slider banner-shop-slider bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="true" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner1.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font"><br>{{aboutabout.title}}</h2>
								<p>{{aboutabout.desc}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div id="content">
		<div class="bread-crumb">
			<div class="container">
				<a href="{% url 'index' %}">Главная страница</a> <span>О нас</span>
			</div>
		</div>
		
		
		<!-- End Bread Crumb -->
		<div class="content-pages">
			<div class="container">
				<div class="content-about">
					<h2 class="title30 mont-font">О нас</h2>
					<p class="desc"><br><br><br>{{about.subdesc}}</p>
					<p class="blockquote">
						{{about.desc}}
					</p>
					<div class="about-why-choise">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<h2 class="title18">Почему выбирают нас</h2>
								<div class="about-accordion toggle-tab">
									{% for whychooseus in whychooseus %}
									<div class="item-toggle-tab">
										<div class="toggle-tab-title"><span class="bg-color"><i class="fa fa-gift"></i></span><h2>{{whychooseus.title}}</h2></div>
										<p class="desc toggle-tab-content">{{whychooseus.desc}}</p>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="banner-adv overlay-image zoom-image">
									<a href="#" class="adv-thumb-link"><img src="{{whychooseusimage.image.url}}" style="height: 400px;" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Choise -->
					<div class="about-client">
						<h2 class="title18">Отзывы:</h2>
						<div class="about-client-slider">
							<div class="wrap-item" data-autoplay="true" data-pagination="false" data-itemscustom="[[0,1],[560,2],[990,3]]">
								{% for comments in comments %}
								<div class="item-about-client">
									<div class="client-thumb"><a href="#"><img src="{{comments.logo.url}}" alt="" /></a></div>
									<div class="client-info">
										<p class="desc">{{comments.comment}}</p>
										<h3 class="title14">{{comments.name}}</h3>
									</div>
								</div>
								{% endfor %} 
							</div>
						</div>
					</div>
					<!-- End Client -->
					<div class="about-why-choise">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="banner-adv overlay-image zoom-image">
									<a href="#" class="adv-thumb-link"><img src="{{whatdoweofferimage.image.url}}" style="height: 515px;" alt="" /></a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<h2 class="title18">Что мы предлагаем</h2>
								<div class="about-accordion toggle-tab">
									{% for whatdoweoffer in whatdoweoffer %}
									<div class="item-toggle-tab">
										<div class="toggle-tab-title"><span class="bg-color"><i class="fa fa-gift"></i></span><h2>{{whatdoweoffer.title}}</h2></div>
										<p class="desc toggle-tab-content">{{whatdoweoffer.desc}}</p>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}