{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="bread-crumb">
			<div class="container">
				<a href="{% url 'index' %}">Главная страница</a> <span>Контакты</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages">
			<div class="container">
				<div class="content-contact-page">
					<h2 class="title30 mont-font">Наши Контакты</h2>
					<div class="contact-google-map bg-white border">
						<div id="map" class="map-custom"></div>
						<script>
						  function initMap() {
							var myLatLng = {lat: 40.707914, lng: -74.009628};

							var map = new google.maps.Map(document.getElementById('map'), {
							  zoom: 12,
							  center: myLatLng
							});

							var marker = new google.maps.Marker({
							  position: myLatLng,
							  map: map,
							});
						  }
						</script>
						<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEkQ6AW_lnHAzPiXPdSNy1GKXiI1I9AGg&callback=initMap" async defer></script>
					</div>
					<!-- End Google Map -->
					<div class="contact-page-info blockquote">
						<div class="row">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="contact-box contact-address-box">
									<span class="color"><i class="fa fa-institution"></i></span>
									<label class="title16 color">Адрес:</label>
									<p class="desc">{{settings.locate}}</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-7 col-xs-12">
								<div class="contact-box">
									<span class="color"><i class="fa fa-phone"></i></span>
									<ul class="list-inline-block">
											<label class="title16 color">Телефон:</label>
											<span>{{settings.phone}}</span>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-5 col-xs-12">
								<div class="contact-box">
									<span class="color"><i class="fa fa-envelope-open"></i></span>
									<label class="title16 color">Почта:</label>
									<p class="desc"><a href="#">{{settings.email}}</a></p>
								</div>
							</div>
						</div>
					</div>
					<!-- End Contact Info -->
					<div class="contact-form-faq">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="contact-form">
									<h2 class="title18">Контактная форма</h2>
									<form method="POST">
										{% csrf_token %}
										<input onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" value="Ваше имя *" name="name" type="text">
										<input onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" value="Ваша почта *" name="email" type="text">
										<input onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" value="Тема *" name="subject" type="text">
										<textarea onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" rows="7" name="message" >Сообщение</textarea>
										<input type="submit" value="Забронировать" class="shop-button" />
										<input type="reset" value="Очистить" class="shop-button style2" />
									</form>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="contact-faq">
									<h2 class="title18">Часто задаваемые вопросы:</h2>
									<div class="contact-accordion toggle-tab">
										{% for quetions in quetions %}
										<div class="item-toggle-tab active">
											<h2 class="toggle-tab-title">{{quetions.title}}</h2>
											<p class="desc toggle-tab-content">{{quetions.desc}}</p>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<div class="wishlist-mask">
		<div class="wishlist-popup">
			<span class="popup-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
			<p class="wishlist-alert">"Lucky shop Product" was added to wishlist</p>
			<div class="wishlist-button">
				<a href="#">Continue Shopping (<span class="wishlist-countdown">10</span>)</a>
				<a href="#">Go To Shopping Cart</a>
			</div>
		</div>
	</div>
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}