{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<body>
 <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- =======================
        end Preloader
======================== -->
{% include 'include/header.html' %}
<!-- ====================================
        End Header Here
========================================= -->
<section class="pagetwo contact-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Need Any Help?</h2>
                    <p>We are group of teachers who really love childrens and enjoy every moment of teaching</p>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="row">
                <div class="col-12 col-lg-8 col-md-8">
                    <div class="contact-form">
                    	<div id="contact"> 
	                        <form class="form" method="post" action="contact.php" name="contactform" id="contactform">
	                            <input type="text" placeholder="First Name" required="required" name="name" id="name">
	                            <input type="text" placeholder="Last Name" required="required" name="lname" id="lname">
	                            <input type="email" placeholder="Enter Email" required="required" name="email" id="email">
	                            <input type="text" placeholder="Subject" required="required" name="subject" id="subject">
	                            <textarea name="message" rows="6" placeholder="Message" id="comments"></textarea>
	                            <input type="submit" name="" id="" value="Send">
	                        </form>
                    	</div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="contact-img">
                        <img src="images/baby.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="teacher-shape-two"><img src="images/dots.png" alt=""></div>
    <div class="teacher-shape-three"><img src="images/dots.png" alt=""></div>
</section>
<!-- ====================================
    End Contactpage Area Here
========================================= -->  
<div class="map" id="map"></div>
<!-- ====================================
    End Map Area Here
========================================= -->  
{% include 'include/footer.html' %}

    <!-- Theme Need JS -->
{% endblock %}