{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status"><div class="preloader-position loader"> <span></span> </div></div>
    </div>
    <!-- Content -->
    <div id="pwe-page"> 
       <a href="#" class="js-pwe-nav-toggle pwe-nav-toggle"><i></i></a>
        <!-- Sidebar Section -->
        <aside id="pwe-aside">
            <!-- Logo -->
            <h1 id="pwe-logo">
                <a href="index.html">Merri Garden<i>®</i><span>cozy <small>&#8226;</small> garden</span></a>
            </h1>
            <!-- Menu -->
            
            <!-- Sidebar Footer -->
            {% include 'include/header.html' %}
        </aside>
        <!-- Main Section -->
        <div id="pwe-main">
            <!-- Slider -->
            <aside id="pwe-hero" class="js-fullheight">
                <div class="flexslider js-fullheight">
                    <ul class="slides">
                        <li style="background-image: url({% static 'images/slider/01.jpg' %});">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 js-fullheight slider-text">
                                        <div class="slider-text-inner">
                                            <div class="desc">
                                                <h6>dream wedding</h6>
                                                <h1>To Know Us is to Love Us!</h1>
                                                <p>We would love to meet up and chat about how we can make YOUR DREAM wedding happen!</p>
                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="background-image: url({% static 'images/slider/02.jpg' %});">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 js-fullheight slider-text">
                                        <div class="slider-text-inner">
                                            <div class="desc">
                                                <h6>dream maker</h6>
                                                <h1>Your Personal Dream Maker</h1>
                                                <p>Мы верим, что главное - это КРАСОТА и ВАШ КОМФОРТ!</p>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="background-image: url({% static 'images/slider/03.jpg' %});">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 js-fullheight slider-text">
                                        <div class="slider-text-inner">
                                            <div class="desc">
                                                <h6>planing dream</h6>
                                                <h1>Destination Wedding Planner</h1>
                                                <p>No matter your dreams - we can assist you in planning your PWE WEDDINGS & EVENTS.</p>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- Services -->
            <div class="services-section services clear pt-90 pb-90">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 mb-30"> <span class="heading-meta">weddings . events</span>
                            <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Our Services</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="position-re o-hidden"> <img src="{% static 'images/services/1.jpg' %}" alt=""> </div>
                                    <div class="con"> <span class="category">
                                            <a href="services-page.html">. weddings</a>
                                        </span>
                                        <h5><a href="services-page.html">WEDDING PLANNER</a></h5> <a href="services-page.html"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="position-re o-hidden"> <img src="{% static 'images/services/2.jpg' %}" alt=""> </div>
                                    <div class="con"> <span class="category">
                                            <a href="services-page.html">. weddings</a>
                                        </span>
                                        <h5><a href="services-page.html">MASTER OF CEREMONIES</a></h5> <a href="services-page.html"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="position-re o-hidden"> <img src="{% static 'images/services/4.jpg' %}" alt=""> </div>
                                    <div class="con"> <span class="category">
                                            <a href="services-page.html">. events</a>
                                        </span>
                                        <h5><a href="services-page.html">SPECIAL EVENTS</a></h5> <a href="services-page.html"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="position-re o-hidden"> <img src="{% static 'images/services/3.jpg' %}" alt=""> </div>
                                    <div class="con"> <span class="category">
                                            <a href="services-page.html">. weddings</a>
                                        </span>
                                        <h5><a href="services-page.html">DESTINATION WEDDING</a></h5> <a href="services-page.html"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="position-re o-hidden"> <img src="{% static 'images/services/5.jpg' %}" alt=""> </div>
                                    <div class="con"> <span class="category">
                                            <a href="services-page.html">. events</a>
                                        </span>
                                        <h5><a href="services-page.html">BIRTHDAY PARTY PLANNER</a></h5> <a href="services-page.html"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="position-re o-hidden"> <img src="{% static 'images/services/6.jpg' %}" alt=""> </div>
                                    <div class="con"> <span class="category">
                                            <a href="services-page.html">. events</a>
                                        </span>
                                        <h5><a href="services-page.html">CORPORATE EVENTS</a></h5> <a href="services-page.html"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testiominals -->
            <div class="testiominal-section pt-90 pb-90 testimonials bg-img bg-fixed" data-overlay-dark="5" data-background="{% static 'images/banner.jpg' %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-head"> 
                                <span>testiominals</span>
                                <h4>From our clients</h4>
                                <p>We are always eager to hear your opinion and share your experience. Here you can find some of our affectionate customers opinions.</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="owl-carousel owl-theme">
                                <div class="item-box"> <span class="quote">
                                        <img src="{% static 'images/quot.png' %}" alt="">
                                    </span>
                                    <p>I had no idea about all the things I had to do to get married / things I needed to think about. Rachel explained everything to me and guided me through the whole process with enthusiasm and patience. She was wonderful to work with! I couldn’t have been happier with her services and upbeat personality!</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{% static 'images/team/05.jpg' %}" alt=""> </div>
                                        <div class="cont">
                                            <h6>Fredia & Pablo</h6> <span>April 15, 2024 USA</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-box"> <span class="quote">
                                        <img src="{% static 'images/quot.png' %}" alt="">
                                    </span>
                                    <p>I had no idea about all the things I had to do to get married / things I needed to think about. Rachel explained everything to me and guided me through the whole process with enthusiasm and patience. She was wonderful to work with! I couldn’t have been happier with her services and upbeat personality!</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{% static 'images/team/06.jpg' %}" alt=""> </div>
                                        <div class="cont">
                                            <h6>Olivia & Enrico</h6> <span>April 13, 2024 CA</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-box"> <span class="quote">
                                        <img src="{% static 'images/quot.png' %}" alt="">
                                    </span>
                                    <p>I had no idea about all the things I had to do to get married / things I needed to think about. Rachel explained everything to me and guided me through the whole process with enthusiasm and patience. She was wonderful to work with! I couldn’t have been happier with her services and upbeat personality!</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{% static 'images/team/07.jpg' %}" alt=""> </div>
                                        <div class="cont">
                                            <h6>Tammy & Matthew</h6> <span>April 11, 2024 USA</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog -->
            <div class="blog-section blog pt-90 pb-90">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 mb-30"> <span class="heading-meta">read news</span>
                            <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Latest News</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item mb-30 animate-box" data-animate-effect="fadeInLeft">
                                <div class="post-img"> <img src="{% static 'images/blog/2.jpg' %}" alt="">
                                    <div class="date">
                                        <a href="post.html"> <span>Apr</span> <i>02</i> </a>
                                    </div>
                                </div>
                                <div class="content"> <span class="tag">
                                        <a href="blog.html">Wedding</a>
                                    </span>
                                    <h5><a href="post.html">Crush Your Wedding Day Style!</a></h5>
                                    <p>Quality fusce suscipit the conce viviense ante a hendrerit ullamcor risus nise the cursus purus sit amet viverra.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item mb-30 animate-box" data-animate-effect="fadeInLeft">
                                <div class="post-img"> <img src="{% static 'images/blog/3.jpg' %}" alt="">
                                    <div class="date">
                                        <a href="post.html"> <span>Apr</span> <i>04</i> </a>
                                    </div>
                                </div>
                                <div class="content"> <span class="tag">
                                        <a href="post.html">Wedding</a>
                                    </span>
                                    <h5><a href="post.html">How to be the best bridesmaid ever!</a></h5>
                                    <p>Quality fusce suscipit the conce viviense ante a hendrerit ullamcor risus nise the cursus purus sit amet viverra.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item mb-30 animate-box" data-animate-effect="fadeInLeft">
                                <div class="post-img"> <img src="{% static 'images/blog/1.jpg' %}" alt="">
                                    <div class="date">
                                        <a href="post.html"> <span>Apr</span> <i>08</i> </a>
                                    </div>
                                </div>
                                <div class="content"> <span class="tag">
                                        <a href="blog.html">Hairstyle</a>
                                    </span>
                                    <h5><a href="post.html">15 Best Bridal Hairstyles Ever</a></h5>
                                    <p>Quality fusce suscipit the conce viviense ante a hendrerit ullamcor risus nise the cursus purus sit amet viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Clients -->
            
            <!-- Footer -->
            {% include 'include/footer.html' %}
        </div>
        <!-- jQuery -->
{% endblock %}