{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<style>
		.main-nav  a {
			color: #fff;
		}
	</style>
	<div id="content">
		<div class="banner-slider banner-slider1 bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="false" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><br><br><img src="{{image.image.url}}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center">
								<h2 class="banner-title vibes-font animated" data-animated="flash">Merri Garden</h2>
								<a href="{% url 'contact' %}" class="banner-button bg-color animated" data-animated="bounceIn"><span>Забронировать</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Slider -->
		
		<!-- End Popular Category -->
		<div class="view-collection">
			<div class="container">
				<div class="title-box text-uppercase text-center wow zoomIn">
					<strong class="first-letter vibes-font">v</strong>
					<span class="color">02</span>
					<h2 class="title30 mont-font inline-block">view</h2>
					<h2 class="title30 mont-font">Collection</h2>
				</div>
				<div class="list-collection">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="item-collection text-center wow fadeInLeft">
								<div class="banner-adv zoom-rotate overlay-image">
									<a href="#" class="adv-thumb-link"><img src="{% static 'images/photos/collection/collection_01.jpg' %}" alt=""></a>
								</div>
								<h3 class="mont-font title18 underline-title"><a href="#">Devices</a></h3>
								<h2 class="vibes-font">Lorem ipsum dolor sit amet</h2>
								<a href="#" class="shop-button">Shop Now</a>
							</div>
							<div class="item-collection text-center wow fadeInLeft">
								<div class="banner-adv zoom-rotate overlay-image">
									<a href="#" class="adv-thumb-link"><img src="{% static 'images/photos/collection/collection_03.jpg' %}" alt=""></a>
								</div>
								<h3 class="mont-font title18 underline-title"><a href="#">skincare night</a></h3>
								<h2 class="vibes-font">Lorem ipsum dolor sit amet</h2>
								<a href="#" class="shop-button">Shop Now</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="intro-collection wow fadeInRight">
								<p>Praesent vestibu lum molestie lacus. Aenean nonummyendre rit mauris. Fusce suscipit varius lorem ipsum dolor sit amet consec tetuer adipi scing elit.</p>
								<div class="text-center">
									<a href="#" class="viewall-button">View all Products <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="item-collection text-center wow fadeInRight">
								<div class="banner-adv zoom-rotate overlay-image">
									<a href="#" class="adv-thumb-link"><img src="{% static 'images/photos/collection/collection_02.jpg' %}" alt=""></a>
								</div>
								<h3 class="mont-font title18 underline-title"><a href="#">Flower cute</a></h3>
								<h2 class="vibes-font">Lorem ipsum dolor sit amet</h2>
								<a href="#" class="shop-button">Shop Now</a>
							</div>
							<div class="banner-collection banner-adv zoom-image fade-out-in  wow fadeInRight">
								<a href="#" class="adv-thumb-link"><img src="{% static 'images/photos/collection/banner.jpg' %}" alt=""></a>
								<div class="banner-info mont-font text-center">
									<h3 class="title30 color">view all of</h3>
									<h2 class="title60 white">top shop</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End View Collection -->
		<!-- End Show Product -->
		<div class="client-say">
			<div class="container">
				<div class="title-box text-uppercase text-center">
					<h2 class="title30 mont-font inline-block">Отзывы</h2>
				</div>
			</div>
			<div class="slick-slider client-slider">
				<div class="slick center">
					{% for comments in comments %}
					<div class="item-client">
						<div class="client-thumb">
							<a><img src="{{comments.image.url}}" alt="" /></a>
						</div>
						<p class="desc">{{comments.comment}}</p>
						<h3 class="title14 client-name">{{comments.name}}</h3>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- End Client Say -->
		<div class="latest-news">
			<div class="container">
				<div class="title-box text-uppercase text-center wow zoomIn">
					<style>
						.title-box {
							text-align: center;
							text-transform: uppercase;
						}

						.title-box strong {
							font-size: 24px; /* Размер шрифта по вашему выбору */
							font-family: 'Great Vibes', cursive; /* Указание шрифта для vibes-font */
						}

						.title-box h2 {
							font-size: 30px; /* Размер шрифта по вашему выбору */
							font-family: 'Montserrat Alternates', sans-serif; /* Указание шрифта для mont-font */
						}

						.title-box .first-letter {
							font-size: 100px; /* Размер шрифта по вашему выбору */
						}
					</style>
					<h2 class="title30 mont-font">Последние <br> Новости</h2>
					<h2 >{{aboutnews.desc}}</h2>
				</div>
				<div class="content-pages blog-full">
					<div class="container">
						<div class="list-blog-full">
							<div class="row">
								{% for news in news %}
								<style>
									.post-thumb {
										width: 100%;
										height: 500px;
										overflow: hidden;
										position: relative;
									}
									.post-thumb img {
										width: 100%;
										height: 100%;
										object-fit: cover;
										position: absolute;
										top: 0;
										left: 0;
									}
								</style>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="item-post-format item-blog-full">
										<div class="post-thumb">
											<a href="{% url 'single' news.id %}" class="post-thumb-link"><img src="{{news.image.url}}" alt=""></a>
										</div>
										<div class="post-info">
											<h3 class="title14 post-title"><a href="{% url 'single' news.id %}">{{news.title}}</a></h3>
											<div class="post-comment-date clearfix">
												<div class="post-date pull-left text-center">
													<i class="fa fa-calendar" aria-hidden="true"></i>
													<span>{{news.date}}</span>
												</div>
												<style>
													.post-date {
														width: 100%;
														text-align: center;
													}
		
													.post-date div {
														display: inline-block;
													}
		
												</style>
											</div>
											<div class="post-info-hidden">
												<p class="desc">{{news.desc|safe|truncatewords:15}}</p>
												<a href="{% url 'single' news.id %}" class="btn-dashed readmore">Подробнее <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Latest News -->
		
		<!-- End Our Services -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}