{% load static %}
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-lg-4">
				<img src="{% static 'images/logo.png' %}" alt="">
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiaproi-dent, sunt in culpa qui officia dese deserunt...</p>
				
			</div>
			<!-- col-md-4 -->
			<div class="col-md-2 col-sm-6 col-lg-2">
				<h4>Quick Links</h4>
				<ul class="footer-link">
					<li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Главная страница</a></li>
					<li class="nav-item"><a href="" class="nav-link">Classes</a></li>
					<li class="nav-item"><a href="{% url 'comand' %}" class="nav-link">Команда</a></li>
					<li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Новости</a></li>
					<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Контакты</a></li>
				</ul>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-2 col-sm-6 col-lg-2">
				<h4>Categories</h4>
				<ul class="footer-link">
					<li class="nav-item"><a href="" class="nav-link">Painting</a></li>
					<li class="nav-item"><a href="" class="nav-link">Drawing</a></li>
					<li class="nav-item"><a href="" class="nav-link">Sports, Games</a></li>
					<li class="nav-item"><a href="" class="nav-link">Life Science</a></li>
					<li class="nav-item"><a href="" class="nav-link">Activities & Events</a></li>
				</ul>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4 col-sm-6 col-lg-4">
				<h4>Photo gallery</h4>
				<div class="footer-gellary-area">
					<ul class="footer-gellary">
						<li><a href=""><img src="{% static 'images/g-01.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/g-02.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/g-03.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/g-04.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/slider-01.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/slider-02.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/slider-03.png' %}" alt=""></a></li>
						<li><a href=""><img src="{% static 'images/post-03.jpg' %}" alt=""></a></li>
					</ul>
					<div class="footer-social">
						<ul>
							<li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
							<li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>      
			</div>
			<!-- col-md-4 -->
		</div>
	</div>
	<div class="footer-shape-one"><img src="{% static 'images/shape-11.png' %}" alt=""></div>
	<div class="footer-shape-two"><img src="{% static 'images/shape-11.png' %}" alt=""></div>
	<div class="footer-shape-three"><img src="{% static 'images/dragon.png' %}" alt=""></div>
</footer>