{% load static %}
<div id="pwe-footer2">
    <div class="pwe-narrow-content">
        <div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <h2>
                    <a href="index.html">Merri Garden<i>®</i><span>cozy <small>•</small> garden</span></a>
                </h2>
                <div class="social"> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a> <a href="#"><i class="ti-pinterest"></i></a> </div>
            </div>
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <h6>Ring</h6>
                <p>{{settings.phone}}</p>
                <h6>Write</h6>
                <p>{{settings.email}}</p>
            </div>
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <h6>Address</h6>
                <p>Wallaway 5st St Normain
                    <br />New York, USA. 98499
                </p>
                <p class="copyright">&copy; 2024. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>