{% load static %}
<div id="footer">
    <div class="footer">
        <!-- End Social Email -->
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box contact-footer">
                            <div class="contact-box contact-address-box">
                                <span class="color"><i class="fa fa-institution small-icon"></i></span>
                                <label class="title16 color">Адрес:</label>
                                <p class="desc">{{settings.locate}}</p>
                            </div>
                            <div class="contact-box">
                                <span class="color"><i class="fa fa-phone small-icon"></i></span>
                                <ul class="list-inline-block">
                                    <label class="title16 color">Телефон:</label>
                                    <span>{{settings.phone}}</span>
                                </ul>
                            </div>
                            <div class="contact-box">
                                <span class="color"><i class="fa fa-envelope-open small-icon"></i></span>
                                <ul class="list-inline-block">
                                    <label class="title16 color">Почта:</label>
                                    <span>{{settings.email}}</span>
                                </ul>
                            </div>
                        </div>
                        <style>
                            .small-icon {
                                font-size: 14px; /* Adjust the size as needed */
                            }

                        </style>                        
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box menu-footer">
                            <h2 class="title18 mont-font color">Страницы</h2>
                            <ul class="list-none">
                                <li><a href="{% url 'about' %}">О нас</a></li>
                                <li><a href="{% url 'blog' %}">Новости</a></li>
                                <li><a href="{% url 'contact' %}">Контакты</a></li>
                                <li><a href="{% url 'comand' %}">Команда</a></li>
                                <li><a href="{% url 'gallery' %}">Галерея</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box instagram-footer">
                            <h2 class="title18 mont-font color">instagram</h2>
                            <style>
                                .list-instagram img.grow {
                                    width: 500px;
                                    height: 70px;
                                    object-fit: cover;
                                }
                            </style>
                            <div class="list-instagram clearfix">
                                <a href="https://www.instagram.com/p/CyTicA4Ij_P/?img_index=1"><img class="grow" src="{{insta.image.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/CxYJn7qsB-S/?img_index=1"><img class="grow" src="{{insta.image2.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/CxvbSSiM7wB/?img_index=1"><img class="grow" src="{{insta.image3.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/CqkZlfgMmdA/?img_index=1"><img class="grow" src="{{insta.image4.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/Cf1nzDUs80H/?img_index=1"><img class="grow" src="{{insta.image5.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/CTcVImPMDoy/?img_index=1"><img class="grow" src="{{insta.image6.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/CuoM9f2sQz9/"><img class="grow" src="{{insta.image7.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/Cf1vbJ3MmrO/?img_index=1"><img class="grow" src="{{insta.image8.url}}" alt="" /></a>
                                <a href="https://www.instagram.com/p/Cdd2B7lMf-I/?img_index=1"><img class="grow" src="{{insta.image9.url}}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box menu-footer order-footer">
                            <h2 class="title18 mont-font color">Социальные сети:</h2>
                            <ul class="list-none">
                                {% if settings.insta %}
                                <li><a href="{{settings.insta}}">Instagram</a></li>
                                {% endif %}
                                {% if settings.facebook %}
                                <li><a href="{{settings.facebook}}">Facebook</a></li>
                                {% endif %}
                                {% if settings.twitter %}
                                <li><a href="{{settings.twitter}}">Twitter</a></li>
                                {% endif %}
                                {% if settings.pinterest %}
                                <li><a href="{{settings.pinterest}}">Pinterest</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Footer -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <h2 class="logo-footer mont-font title24 inline-block"><a href="{% url 'index' %}" class="color">Merri Garden</a></h2>
                        <ul class="list-inline-block nav-footer">
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'contact' %}">Контакты </a></li>
                            <li><a href="{% url 'comand' %}">Команда </a></li>
                            <li><a href="{% url 'gallery' %}">Галерея</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</div>