{% load static %}
<div id="header">
    <div class="header header1" >
        <div class="container">
            <div class="header-main">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="header-phone">
                            <span class="color" style="color: rgb(248, 248, 248);">Звоните сегодня:</span>
                            <strong style="color: rgb(248, 248, 248);"><br>{{settings.phone}}</strong>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="logo logo1">
                            <a href="{% url 'index' %}"><img src="{{settings.logo.url}}" style="height: 100px; width: 100px;" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="mini-cart-box pull-right">
                            <a class="mini-cart-link" href="cart.html">
                                <span class="mini-cart-number"><span class="color" style="color: rgb(248, 248, 248);">Почта:</span><strong style="color: rgb(248, 248, 248);" ><a href="mailto:merrigarden@gmail.com"></a><br><br>{{settings.email}}</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Main -->
            <div class="header-nav text-center">
                <nav class="main-nav main-nav1">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="{% url 'index' %}">Главная страница </a>
                        </li>
                        <li><a href="{% url 'about' %}">О нас</a></li>
                        <li class="menu-item-has-children">
                            <a href="{% url 'blog' %}">Новости </a>
                        </li>
                        <li><a href="{% url 'gallery' %}">Галерея</a></li>
                        <li class="menu-item-has-children">
                            <a href="{% url 'comand' %}">Команда</a>
                        </li>
                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                    </ul>
                    <a href="#" class="toggle-mobile-menu"><span></span></a>
                </nav>
            </div>
            <!-- End Header Nav -->
        </div>
    </div>
    <div class="menu-ontop bg-white header-ontop">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <ul class="list-inline-block">
                        <li>
                            <div class="logo-ontop">
                                <a href="{% url 'index' %}"><img src="{{settings.logo.url}}" style="width: 80px; height: 80px;" alt="" /></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu On Top -->
</div>