{% load static %}
<nav id="pwe-main-menu">
    <ul>
        <li class="pwe-active"><a href="{% url 'index' %}">Главная страница</a></li>
        <li><a href="{% url 'about' %}">О нас</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
    </ul>
</nav>

<div class="pwe-footer">
    <div class="separator"></div>
    <p>{{settings.title}}
        <br />{{settings.email}}
    </p>
    <div class="social"> <a href="{{settings.facebook}}"><i class="ti-facebook"></i></a> <a href="{{settings.twitter}}"><i class="ti-twitter-alt"></i></a> <a href="{{settings.insta}}"><i class="ti-instagram"></i></a> <a href="{{settings.pinterest}}"><i class="ti-pinterest"></i></a> </div>
</div>