{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Topshop is new Wordpress theme that we have designed to help you transform your store into a beautiful online showroom. This is a fully responsive Wordpress theme, with multiple versions for homepage and multiple templates for sub pages as well" />
	<meta name="keywords" content="Topshop,7uptheme" />
	<meta name="robots" content="noodp,index,follow" />
	<meta name='revisit-after' content='1 days' />
	<link rel="icon" href="{{settings.logo.url}}" type="image/png" />

	<title>{{settings.title}}</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/font-awesome.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap-theme.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.fancybox.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/owl.carousel.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/owl.transitions.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/owl.theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.mCustomScrollbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/animate.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/libs/hover.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}" media="all"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" media="all"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/browser.css' %}" media="all"/>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}" media="all"/> -->
</head>
<body>
    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.jcarousellite.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.elevatezoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.mCustomScrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/wow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
    </body>
    </html>