{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="banner-slider banner-shop-slider bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="true" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner1.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font"><br>{{aboutnews.title}}</h2>
								<p>{{aboutnews.desc}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Slider -->
		<div class="bread-crumb">
			<div class="container">
				<a href="#">Главная страница</a> <span>Новости</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages blog-full">
			<div class="container">
				<div class="list-blog-full">
					<div class="row">
						{% for news in news %}
						<style>
							.post-thumb {
								width: 100%;
								height: 500px;
								overflow: hidden;
								position: relative;
							}
							.post-thumb img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								position: absolute;
								top: 0;
								left: 0;
							}
						</style>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="item-post-format item-blog-full">
								<div class="post-thumb">
									<a href="#" class="post-thumb-link"><img src="{{news.image.url}}" alt=""></a>
								</div>
								<div class="post-info">
									<h3 class="title14 post-title"><a href="#">{{news.title}}</a></h3>
									<div class="post-comment-date clearfix">
										<div class="post-date pull-left text-center">
											<i class="fa fa-calendar" aria-hidden="true"></i>
											<span>{{news.date}}</span>
										</div>
									</div>
									<div class="post-info-hidden">
										<p class="desc">{{news.desc|safe|truncatewords:15}}</p>
										<a href="{% url 'single' news.id %}" class="btn-dashed readmore">Подробнее <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="loadmore text-center"><a href="{% url 'moreblog' %}" class="shop-button">Больше новостей</a></div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}