{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="banner-slider banner-shop-slider bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="true" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner1.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font">Category top banner</h2>
								<p>This is a Block and can be edited live in with the Page Builder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner2.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font">Category top banner</h2>
								<p>This is a Block and can be edited live in with the Page Builder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner3.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font">Category top banner</h2>
								<p>This is a Block and can be edited live in with the Page Builder</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Slider -->
		<div class="bread-crumb">
			<div class="container">
				<a href="#">Home</a> <span>Blog with sidebar</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="sidebar-left sidebar-shop">
							<div class="widget widget-product-cat">
								<h2 class="widget-title title14 active">cosmetics</h2>
								<div class="widget-content" style="display:block">
									<ul class="list-none filter-default">
										<li class="has-sub-cat">
											<a href="#">Base makeup <span>(30)</span></a>
											<ul class="list-none">
												<li><a href="#">Lipstick <span>(9)</span></a></li>
												<li><a href="#">Eye Shadow <span>(3)</span></a></li>
												<li><a href="#">Mascara <span>(7)</span></a></li>
												<li><a href="#">Eyeliner <span>(1)</span></a></li>
											</ul>
										</li>
										<li class="has-sub-cat">
											<a href="#" class="active">Point makeup <span>(20)</span></a>
											<ul class="list-none" style="display: block;">
												<li><a href="#">Lipstick <span>(9)</span></a></li>
												<li><a href="#">Eye Shadow <span>(3)</span></a></li>
												<li><a href="#">Mascara <span>(7)</span></a></li>
												<li><a href="#">Eyeliner <span>(1)</span></a></li>
											</ul>
										</li>
										<li class="has-sub-cat">
											<a href="#">Skincare <span>(16)</span></a>
											<ul class="list-none">
												<li><a href="#">Lipstick <span>(9)</span></a></li>
												<li><a href="#">Eye Shadow <span>(3)</span></a></li>
												<li><a href="#">Mascara <span>(7)</span></a></li>
												<li><a href="#">Eyeliner <span>(1)</span></a></li>
											</ul>
										</li>
										<li>
											<a href="#">Electronics  <span>(35)</span></a>
										</li>	
										<li>
											<a href="#">Homeware  <span>(29)</span></a>
										</li>	
									</ul>
								</div>
							</div>
							<!-- End Widget -->
							<div class="widget widget-latest-post">
								<h2 class="widget-title title14 active">latest  post</h2>
								<div class="widget-content" style="display:block">
									<div class="list-recent-post">
										<div class="item-recent-post table">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/blog/recent1.jpg' %}" alt="" /></a>
											</div>
											<div class="post-info">
												<h3 class="product-title"><a href="#">Image Post format</a></h3>
												<span class="post-date-time">Fec. 08 2017</span>
											</div>
										</div>
										<div class="item-recent-post table">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/blog/recent2.jpg' %}" alt="" /></a>
											</div>
											<div class="post-info">
												<h3 class="product-title"><a href="#">Image Post format</a></h3>
												<span class="post-date-time">Fec. 08 2017</span>
											</div>
										</div>
										<div class="item-recent-post table">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/blog/recent3.jpg' %}" alt="" /></a>
											</div>
											<div class="post-info">
												<h3 class="product-title"><a href="#">Image Post format</a></h3>
												<span class="post-date-time">Fec. 08 2017</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Widget -->
							<div class="widget widget-post-tags">
								<h2 class="widget-title title14 active">Tags</h2>
								<div class="widget-content" style="display:block">
									<ul class="list-inline-block">
										<li><a href="#">Cosmetics</a></li>
										<li><a href="#">Beauty</a></li>
										<li><a href="#">Lips</a></li>
										<li><a href="#">Skincare Makeup</a></li>
										<li><a href="#">iPhone</a></li>
										<li><a href="#">Kanebo</a></li>
										<li><a href="#">Menad</a></li>
										<li><a href="#">Sheshido</a></li>
									</ul>
								</div>
							</div>
							<!-- End Widget -->
							<div class="widget widget-banner-image">
								<h2 class="widget-title title14 active">Banner</h2>
								<div class="widget-content" style="display:block">
									<div class="banner-adv zoom-image fade-out-in">
										<a href="#" class="adv-thumb-link"><img src="{% static 'images/blog/banner-adv.jpg' %}" alt=""></a>
									</div>
								</div>
							</div>
							<!-- End Widget -->
						</div>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12">
						<div class="content-shop content-blog">
							<div class="content-blog-sidebar">
								<div class="row">
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_01.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">video</a><span>2</span></div>
												<h3 class="title14 post-title"><a href="#">video post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_02.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">Gallery</a><span>3</span></div>
												<h3 class="title14 post-title"><a href="#">Gallery post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_03.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">image</a><span>7</span></div>
												<h3 class="title14 post-title"><a href="#">image post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_04.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">video</a><span>2</span></div>
												<h3 class="title14 post-title"><a href="#">video post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_05.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">Gallery</a><span>3</span></div>
												<h3 class="title14 post-title"><a href="#">Gallery post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_06.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">image</a><span>7</span></div>
												<h3 class="title14 post-title"><a href="#">image post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_07.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">video</a><span>2</span></div>
												<h3 class="title14 post-title"><a href="#">video post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_08.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">Gallery</a><span>3</span></div>
												<h3 class="title14 post-title"><a href="#">Gallery post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_09.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">image</a><span>7</span></div>
												<h3 class="title14 post-title"><a href="#">image post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_10.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">video</a><span>2</span></div>
												<h3 class="title14 post-title"><a href="#">video post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_02.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">Gallery</a><span>3</span></div>
												<h3 class="title14 post-title"><a href="#">Gallery post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-post-format">
											<div class="post-thumb">
												<a href="#" class="post-thumb-link"><img src="{% static 'images/photos/blog/topshop_blog_03.jpg' %}" alt=""></a>
											</div>
											<div class="post-info">
												<div class="post-format"><a href="#">image</a><span>7</span></div>
												<h3 class="title14 post-title"><a href="#">image post fomat</a></h3>
												<div class="post-comment-date clearfix">
													<div class="post-date pull-left text-center">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<span>Fec. 08 2017</span>
													</div>
													<div class="post-comment pull-right text-center">
														<i class="fa fa-comment" aria-hidden="true"></i>
														<span>04</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
								</div>
							</div>
							<div class="pagi-nav-bar text-center radius">
								<a href="#" class="btn-circle prev-page"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
								<a href="#" class="inline-block">1</a>
								<a href="#" class="current-page inline-block">2</a>
								<a href="#" class="inline-block">3</a>
								<a href="#" class="inline-block">4</a>
								<a href="#" class="btn-circle next-page"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<div class="wishlist-mask">
		<div class="wishlist-popup">
			<span class="popup-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
			<p class="wishlist-alert">"Lucky shop Product" was added to wishlist</p>
			<div class="wishlist-button">
				<a href="#">Continue Shopping (<span class="wishlist-countdown">10</span>)</a>
				<a href="#">Go To Shopping Cart</a>
			</div>
		</div>
	</div>
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}