{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<body>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- =======================
        end Preloader
======================== -->
{% include 'include/header.html' %}
<!-- ====================================
        End Header Here
========================================= -->
<section class="our-classes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Our Courses</h2>
                    <p>With kindori, we always put the quality of teaching children first,
                        when sending children at kindori kindergarten.</p>
                </div>
            </div>
        </div>
        <div class="classes-top-area">
            <div class="classes-slider owl-carousel owl-theme">
                <div class="classes-slider-item">
                    <div class="slider-img">
                        <img src="images/slider-01.png" alt="">
                    </div>
                    <div class="slider-description">
                        <div class="slider-title d-flex justify-content-between">
                            <div class="title-left">
                                <span>Age</span>
                                <span>3-10</span>
                            </div>
                            <div class="title-right">
                                <span>Size</span>
                                <span>Class 21-10</span>
                            </div>
                        </div>
                        <div class="slider-text">
                            <h4>Letter Match</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur pisicelit sed do eiusmod tempor incidie</p>
                        </div>
                        <div class="slider-btn">
                            <a class="btn btn-primary kids-active-btn" href="#">Price: $50</a>
                        </div>
                    </div>
                </div>
                <!-- iteam -->
                <div class="classes-slider-item">
                    <div class="slider-img">
                        <img src="images/slider-02.png" alt="">
                    </div>
                    <div class="slider-description">
                        <div class="slider-title d-flex justify-content-between">
                            <div class="title-left">
                                <span>Age</span>
                                <span>3-10</span>
                            </div>
                            <div class="title-right">
                                <span>Size</span>
                                <span>Class 21-10</span>
                            </div>
                        </div>
                        <div class="slider-text">
                            <h4>Word Match</h4>
                            <p>Proin velit mi, volutpat quis blandit id, consequat non est. Curabitur facilisis</p>
                        </div>
                        <div class="slider-btn">
                            <a class="btn btn-primary kids-active-btn" href="#">Price: $50</a>
                        </div>
                    </div>
                </div>
                <!-- iteam -->
                <div class="classes-slider-item">
                    <div class="slider-img">
                        <img src="images/slider-03.png" alt="">
                    </div>
                    <div class="slider-description">
                        <div class="slider-title d-flex justify-content-between">
                            <div class="title-left">
                                <span>Age</span>
                                <span>3-10</span>
                            </div>
                            <div class="title-right">
                                <span>Size</span>
                                <span>Class 21-10</span>
                            </div>
                        </div>
                        <div class="slider-text">
                            <h4>Sentence Match</h4>
                            <p>Vestibulum tincidunt ante eu hendrerit malesuada. In quis elementum.</p>
                        </div>
                        <div class="slider-btn">
                            <a class="btn btn-primary kids-active-btn" href="#">Price: $50</a>
                        </div>
                    </div>
                </div>
                <!-- iteam -->
                <div class="classes-slider-item">
                    <div class="slider-img">
                        <img src="images/slider-03.png" alt="">
                    </div>
                    <div class="slider-description">
                        <div class="slider-title d-flex justify-content-between">
                            <div class="title-left">
                                <span>Age</span>
                                <span>3-10</span>
                            </div>
                            <div class="title-right">
                                <span>Size</span>
                                <span>Class 21-10</span>
                            </div>
                        </div>
                        <div class="slider-text">
                            <h4>Letter Match</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur pisicelit sed do eiusmod tempor incidie</p>
                        </div>
                        <div class="slider-btn">
                            <a class="btn btn-primary kids-active-btn" href="#">Price: $50</a>
                        </div>
                    </div>
                </div>
                <!-- iteam -->
            </div>
            <!-- slider -->
        </div>
        <!-- top area -->
        <div class="our-classes-bottom">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 co-12">
                    <div class="classes-bottom-img">
                        <img src="images/baby.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-6 co-12">
                    <div class="classes-bottom-text">
                        <div>
                            <h2>HOW TO ENROLL YOUR CHILD TO A CLASS?</h2>
                            <p>We are group of teachers who really love childrens and eaching and playing with our students.enjoy every and playing with our students.</p>
                            <a class="btn btn-primary kids-active-btn" href="#">CONTACT NOW</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="classes-form">
                    <form action="pagename.php" method="post">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <select>
                                    <option value="">All Categories</option>
                                    <option value="">Class One</option>
                                    <option value="">Class Two</option>
                                    <option value="">Class Three</option>
                                    <option value="">Class Four</option>
                                    <option value="">Class Five</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" placeholder="Course Keyword" name="keyword">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="submit" value="View Course" name="view">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="classes-cloud-one"><img src="images/yellow-cloud.png" alt=""></div>
        <div class="classes-cloud-two"><img src="images/yellow-cloud.png" alt=""></div>
        <div class="classes-cloud-three"><img src="images/yellow-cloud.png" alt=""></div>
    </div>
</section>
<!-- ====================================
    End Our Classes Area Here
========================================= --> 
{% include 'include/header.html' %}

    <!-- Theme Need JS -->
{% endblock %}