{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="banner-slider banner-shop-slider bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="true" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner1.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font" style="color: #FF887B"><br>{{aboutgallery.title}}</h2>
								<p>
									{{aboutgallery.desc}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Slider -->
		<div class="bread-crumb">
			<div class="container">
				<a href="{% url 'index' %}">Главная страница</a> <span style="color: #FF887B">Галерея</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages blog-full">
			<div class="container">
				<div class="list-blog-full">
					<div class="row">
						{% for gallery in gallery %}
						<style>
							.post-thumb {
								width: 100%;
								height: 500px;
								overflow: hidden;
								position: relative;
							}
							.post-thumb img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								position: absolute;
								top: 0;
								left: 0;
							}
						</style>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="item-post-format item-blog-full">
								<div class="post-thumb">
									<a href="#" class="post-thumb-link"><img src="{{gallery.image.url}}" alt=""></a>
								</div>
								<div class="post-info">
									<h3 class="title14 post-title"><a href="#">{{gallery.title}}</a></h3>
									<div class="post-comment-date clearfix">
										<div class="post-date text-center">
											<div style="display: inline-block;">
												<i class="fa fa-calendar" aria-hidden="true"></i>
												<span>{{gallery.date}}</span>
											</div>
										</div>
										<style>
											.post-date {
												width: 100%;
												text-align: center;
											}

											.post-date div {
												display: inline-block;
											}

										</style>

									</div>
									<div class="post-info-hidden">
										<p class="desc">{{gallery.desc}}</p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}