{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<!-- End Header -->
	<div id="content">
		<div class="banner-slider banner-shop-slider bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="true" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner1.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font">Category top banner</h2>
								<p>This is a Block and can be edited live in with the Page Builder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner2.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font">Category top banner</h2>
								<p>This is a Block and can be edited live in with the Page Builder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{% static 'images/shop/shop-banner3.jpg' %}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font">Category top banner</h2>
								<p>This is a Block and can be edited live in with the Page Builder</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Slider -->
		<div class="bread-crumb">
			<div class="container">
				<a href="#">Home</a> <a href="#">Shop</a> <span>Cosmetics</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages">
			<div class="container">
				<div class="row">
					
					<div class="col-md-9 col-sm-8 col-xs-12">
						<div class="content-shop">
							<div class="sort-pagi-bar clearfix">
								<h2 class="title18 mont-font pull-left">Skincare</h2>
								<div class="sort-view pull-right">
									<div class="view-type pull-left">
										<a href="grid-with-sidebar.html" class="grid-view active"><i class="fa fa-th-large" aria-hidden="true"></i></a>
										<a href="list-with-sidebar.html" class="list-view"><i class="fa fa-th-list" aria-hidden="true"></i></a>
									</div>
									<div class="sort-bar select-box">
										<label>Sort:</label>
										<select>
											<option value="">Recommended</option>
											<option value="">position</option>
											<option value="">price</option>
										</select>
									</div>
								</div>
							</div>
							<div class="content-grid-sidebar">
								<div class="row">
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_13.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_14.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_15.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_16.jpg' %}" alt="">
												<span class="product-new-label">new</span>
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_17.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_18.jpg' %}" alt="">
												<span class="product-new-label">new</span>
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_19.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_20.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_21.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_22.jpg' %}" alt="">
												<span class="product-new-label">new</span>
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_23.jpg' %}" alt="">
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="item-product item-product-grid">
											<div class="product-thumb box-hover-dir">
												<img src="{% static 'images/photos/topshop_product_24.jpg' %}" alt="">
												<span class="product-new-label">new</span>
												<div class="info-product-hover-dir">
													<div class="inner-product-hover-dir">
														<div class="content-product-hover-dir">
															<a href="quick-view.html" class="quickview-link fancybox.iframe">Quick view <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
															<span class="product-total-sale">( 10 Sales )</span>
															<div class="product-extra-link">
																<a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Add to cart</span></a>
																<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i><span>Wishlist</span></a>
																<a href="#" class="compare-link"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>Compare</span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-info">
												<h3 class="product-title"><a href="#">topshop Name Product</a></h3>
												<div class="product-rate">
													<div class="product-rating" style="width:100%"></div>
												</div>
												<div class="product-price">
													<ins><span>$400.00</span></ins>
													<del><span>$480.00</span></del>
													<span class="sale-label">-20<sup>%</sup></span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Group -->
								</div>
							</div>
							<div class="pagi-nav-bar text-center radius">
								<a href="#" class="btn-circle prev-page"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
								<a href="#" class="inline-block">1</a>
								<a href="#" class="current-page inline-block">2</a>
								<a href="#" class="inline-block">3</a>
								<a href="#" class="inline-block">4</a>
								<a href="#" class="btn-circle next-page"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html'% }
	<!-- End Footer -->
	<div class="wishlist-mask">
		<div class="wishlist-popup">
			<span class="popup-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
			<p class="wishlist-alert">"Lucky shop Product" was added to wishlist</p>
			<div class="wishlist-button">
				<a href="#">Continue Shopping (<span class="wishlist-countdown">10</span>)</a>
				<a href="#">Go To Shopping Cart</a>
			</div>
		</div>
	</div>
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}