{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status"><div class="preloader-position loader"> <span></span> </div></div>
    </div>
    <!-- Content -->
    <div id="pwe-page"> 
        <a href="#" class="js-pwe-nav-toggle pwe-nav-toggle"><i></i></a>
        <!-- Sidebar Section -->
        <aside id="pwe-aside">
            <!-- Logo -->
            <h1 id="pwe-logo">
                <a href="index.html">PWE<i>®</i><span>weddings <small>&#8226;</small> events</span></a>
            </h1>
            <!-- Menu -->
            {% include 'include/header.html' %}
        </aside>
        <!-- Main Section -->
        <div id="pwe-main">
            <!-- Banner Title -->
            <div class="banner-container">
                <div class="banner-img"> <img class="banner-img-width" src="images/topbanner-2.jpeg" alt=""> </div>
                <div class="banner-head">
                    <div class="banner-head-padding banner-head-margin">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"> <span class="heading-meta">.works</span>
                                    <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Our Portfolio</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio -->
            <div class="portfolio-section portfolio pt-0 pb-60">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c1.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Eleanor <b>&</b> Stefano</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c2.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Freida <b>&</b> Pablo</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c3.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Olivia <b>&</b> Enrico</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c4.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Maddie <b>&</b> Daniel</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img"> <img src="images/portfolio/c5.jpg" alt=""> </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Vanessa <b>&</b> Chris</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c6.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Tammy <b>&</b> Matthew</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c7.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Birthday <b>|</b> Vanessa</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c8.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Special Events</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item animate-box" data-animate-effect="fadeInLeft">
                                <div class="portfolio-img">
                                    <a href="portfolio-page.html"><img src="images/portfolio/c9.jpg" alt=""></a>
                                </div>
                                <div class="content">
                                    <h5><a href="portfolio-page.html">Winter Elegance</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Clients -->
            <div class="clients-section clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 owl-carousel owl-theme">
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/1.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/2.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/3.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/4.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/5.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'include/footer.html' %}
        </div>
    </div>
    <!-- jQuery -->
{% endblock %}