{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status"><div class="preloader-position loader"> <span></span> </div></div>
    </div>
    <!-- Content -->
    <div id="pwe-page"> 
        <a href="#" class="js-pwe-nav-toggle pwe-nav-toggle"><i></i></a>
        <!-- Sidebar Section -->
        <aside id="pwe-aside">
            <!-- Logo -->
            <h1 id="pwe-logo">
                <a href="index.html">PWE<i>®</i><span>weddings <small>&#8226;</small> events</span></a>
            </h1>
            <!-- Menu -->
            {% include 'include/header.html' %}
        </aside>
        <!-- Main Section -->
        <div id="pwe-main">
            <!-- Banner Title -->
            <div class="banner-container">
                <div class="banner-img"> <img class="banner-img-width" src="images/topbanner-1.jpeg" alt=""> </div>
                <div class="banner-head">
                    <div class="banner-head-padding banner-head-margin">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"> <span class="heading-meta">.portfolio</span>
                                    <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Eleanor & Stefano</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio -->
            <div class="pwe-section pt-0 pb-60">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                            <p>Quality vestibulum mollis accumsan ultricies. Sed urna velit, maximus eu tellus sit amet, condimentum dictum erat. Sed dolor ipsum, luctus quis est eu, vestibulum tincidunt est. Donec egestas aliquet nunc, ac egestas sapien fermentum in. Sed volutpat ac mi faucibus convallis. Praesent facilisis lobortis tellus. Donec laoreet, erat in sagittis dictum, enim enim dignissim sapien.</p>
                        </div>
                        <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                            <p><b>Wedding Planner :</b> Rachel Starletta
                                <br> <b>Wedding Photographer :</b> Janet Lewis
                                <br> <b>Location :</b> Lakewood WA, USA
                            </p>
                        </div>
                    </div>
                    <!-- Gallery -->
                    <div class="row mb-60">
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g4.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g4.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g5.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g5.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g6.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g6.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g7.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g7.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g8.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g8.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g9.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g9.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g10.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g10.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g11.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g11.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g12.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g9.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g3.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g3.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g1.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g1.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInLeft">
                            <a href="images/portfolio/g2.jpg" title="Eleanor & Stefano" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="images/portfolio/g2.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                    <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Clients -->
            <div class="clients-section clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 owl-carousel owl-theme">
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/1.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/2.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/3.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/4.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/5.jpg" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="images/clients/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'include/footer.html' %}
        </div>
    </div>
    <!-- jQuery -->
{% endblock %}