{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status"><div class="preloader-position loader"> <span></span> </div></div>
    </div>
    <!-- Content -->
    <div id="pwe-page"> 
        <a href="#" class="js-pwe-nav-toggle pwe-nav-toggle"><i></i></a>
        <!-- Sidebar Section -->
        <aside id="pwe-aside">
            <!-- Logo -->
            <h1 id="pwe-logo">
                <a href="{% url 'index' %}">Merri Garden<i>®</i><span>cozy <small>&#8226;</small> garden</span></a>
            </h1>
            <!-- Menu -->
            {% include 'include/header.html' %}
        </aside>
        <!-- Main Section -->
        <div id="pwe-main">
            <!-- Banner Title -->
            <div class="banner-container">
                <div class="banner-img"> <img class="banner-img-width" src="{% static 'images/topbanner-2.jpeg' %}" alt=""> </div>
                <div class="banner-head">
                    <div class="banner-head-padding banner-head-margin">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"> <span class="heading-meta">wedding</span>
                                    <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Crush Your Wedding Day Style!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Post -->
            <div class="post-section pt-0 pb-60">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 image-content animate-box" data-animate-effect="fadeInLeft"> <img src="{% static 'images/blog/2.jpg ' %}" class="img-fluid mb-30" alt=""> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <p>Quality non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien vel, conseyer turpeutionyer masin libero semper. Fusceler mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venenatis lacus. Fusce mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venenatis lacus. Yuroin non lorem ac erat suscipit bibendum nulla facilisi.</p>
                            <p>Luisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis in faucibus. Curabitur arcu erosite feugiat in tortor in, volutpat sollicitudin libero. Maecenas nisl est, conselur rhoncus loremir consequat et, finibus nec purus. Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien vel, conseyer turpeutionyer massa in libero semper. Fusceler mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venenatis lacus. Fusce mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venenatis lacus.</p>
                            <p>Turoin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien veli, conseyer turpeutionyer massa in libero semper sedeuter nunc volutpat, mollis sapien veletion. Quisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis in faucibus. Curabitur arcu erosite feugiat in tortor in, volutpat sollicitudin libero.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInLeft">
                            <!-- Comments -->
                            <div class="clear" id="comment-list">
                                <div class="comments-area" id="comments">
                                    <h2 class="comments-title">Comments</h2>
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"> <img class="avatar photo" src="{% static 'images/blog/people01.png' %}" alt="">
                                                    <h3 class="name">Peter Berry</h3>
                                                </div>
                                                <div class="comment-meta"> Sep 28, 2024 </div>
                                                <p>Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien veli, conseyer turpeutionyer massa in libero semper sedeuter nunc volutpat, mollis sapien veletion. Quisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis in faucibus. Curabitur arcu erosite feugiat in tortor in, volutpat sollicitudin libero.</p>
                                                <div class="reply"> <a href="#" class="comment-reply-link"><i class="ti-back-left"></i> Replay</a> </div>
                                            </div>
                                            <!-- sub comment block -->
                                            <ol class="children">
                                                <li class="comment odd parent">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"> <img class="avatar photo" src="{% static 'images/blog/people02.png' %}" alt="">
                                                            <h3 class="name">Lena Glenn</h3>
                                                        </div>
                                                        <div class="comment-meta"> Sep 27, 2024 </div>
                                                        <p>Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien veli, conseyer turpeutionyer massa in libero semper sedeuter nunc volutpat, mollis sapien veletion. Quisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis in faucibus.</p>
                                                        <div class="reply"> <a href="#" class="comment-reply-link"><i class="ti-back-left"></i> Replay</a> </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                        <li class="comment">
                                            <!-- comment block -->
                                            <div class="comment-body">
                                                <div class="comment-author vcard"> <img class="avatar photo" src="{% static 'images/blog/people04.png' %}" alt="">
                                                    <h3 class="name">Cerica Smith</h3>
                                                </div>
                                                <div class="comment-meta"> Sep 27, 2024 </div>
                                                <p>Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien veli, conseyer turpeutionyer massa in libero semper sedeuter nunc volutpat, mollis sapien veletion. Quisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis in faucibus. Curabitur arcu erosite feugiat in tortor in, volutpat sollicitudin libero.</p>
                                                <div class="reply"> <a href="#" class="comment-reply-link"><i class="ti-back-left"></i> Replay</a> </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                            <!-- Leave a comments -->
                            <h3 class="pwe-about-heading">Leave a Comments</h3>
                            <form method="post" class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" class="btn-contact" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Clients -->
            <div class="clients-section clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 owl-carousel owl-theme">
                            <div class="client-logo">
                                <a href="#"><img src="{% static 'images/clients/1.jpg ' %}" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="{% static 'images/clients/2.jpg ' %}" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="{% static 'images/clients/3.jpg ' %}" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="{% static 'images/clients/4.jpg ' %}" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="{% static 'images/clients/5.jpg ' %}" alt=""></a>
                            </div>
                            <div class="client-logo">
                                <a href="#"><img src="{% static 'images/clients/6.jpg ' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'include/footer.html' %}
        </div>
    </div>
    <!-- jQuery -->
{% endblock %}