{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status"><div class="preloader-position loader"> <span></span> </div></div>
    </div>
    <!-- Content -->
    <div id="pwe-page"> 
       <a href="#" class="js-pwe-nav-toggle pwe-nav-toggle"><i></i></a>
        <!-- Sidebar Section -->
        <aside id="pwe-aside">
            <!-- Logo -->
            <h1 id="pwe-logo">
                <a href="{% url 'index' %}">Merri Garden<i>®</i><span>cozy <small>&#8226;</small> garden</span></a>
            </h1>
            <!-- Menu -->
            {% include 'include/header.html' %}
        </aside>
        <!-- Main Section -->
        <div id="pwe-main">
            <!-- Banner Title -->
            <div class="banner-container">
                <div class="banner-img"> <img class="banner-img-width" src="{% static 'images/topbanner.jpeg' %}" alt=""> </div>
                <div class="banner-head">
                    <div class="banner-head-padding banner-head-margin">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"> <span class="heading-meta">our services</span>
                                    <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Wedding Planner</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Us -->
            <div class="about-section pt-0 pb-60">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft"> <img src="{% static 'images/services/7'.jpg %}'" class="img-fluid mb-30" alt=""> </div>
                        <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
                            <p>Qurabit aliquet orci elit gene tristique lorem commodo vitae. Aliquam tince felis the gravida aliquam, neque libero hendrerit magna, sit amet mollis lacus quam maurisine. Aliquam erat the druna volutpat.</p>
                            <p>Lhasellus viverra tristique justo. Duis vitae diam neque. Vivamus ac est augue. Vestibule fringilla dui at elit finibus viverra nec a lacus. Sedat themo eros odio semper sollicitudin mi suscipit non. Suspendisse sagie fermentum quamen.</p>
                            <p>Qurabit aliquet orci elit gene tristique lorem commodo vitae. Aliquam tince felis mana gravida aliquam, neque libero hendrerit magna, sit amet mollis lacus quam vivensere the liquam erat the druna volutpat. Lhasellus viverra tristique justo. Duis vitae diam neque. Vivamus ac est augue. Vestibule fringilla dui at elit finibus viverra nec a lacus.</p>
                            <h4 class="pwe-about-subheading">Package Includes</h4>
                            <ol>
                                <li>PWE Weddings & Events Workbook</li>
                                <li>Unlimited access to expert wedding advice (via e-mail)</li>
                                <li>Access to Preferred Vendors List</li>
                                <li>Wedding Assistant for wedding day</li>
                                <li>Oversee and help with ceremony/reception site set up & tear down</li>
                                <li>Review of Vendor contracts</li>
                                <li>Distribute final payments and gratuities to vendors as necessary</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pricing -->
            <div class="price-section pt-60 pb-60 price bg-pink">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta">includes</span>
                            <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">Planning Packages</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 owl-carousel owl-theme">
                            <div class="item">
                                <div class="cont">
                                    <div class="type">
                                        <h6>Ceremony</h6>
                                    </div>
                                    <div class="value">
                                        <h4>2500<span>$</span></h4>
                                        <p>Starting From</p>
                                    </div>
                                    <div class="feat">
                                        <ul>
                                            <li>Decoration</li>
                                            <li>DJ & Sound</li>
                                            <li><del>Photographer</del></li>
                                            <li>Celebrant</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-contact"> <a href="#"><span>See more</span></a> </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <div class="type">
                                        <h6>Party</h6>
                                    </div>
                                    <div class="value">
                                        <h4>3500<span>$</span></h4>
                                        <p>Starting From</p>
                                    </div>
                                    <div class="feat">
                                        <ul>
                                            <li>Decoration</li>
                                            <li>DJ & Sound</li>
                                            <li>Photographer</li>
                                            <li>Party Planner</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-contact"> <a href="#"><span>See more</span></a> </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <div class="type">
                                        <h6>Full Wedding</h6>
                                    </div>
                                    <div class="value">
                                        <h4>6500<span>$</span></h4>
                                        <p>Starting From</p>
                                    </div>
                                    <div class="feat">
                                        <ul>
                                            <li>Decoration</li>
                                            <li>DJ & Sound</li>
                                            <li>Photographer</li>
                                            <li>Make-Up & Hair Dresser</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-contact"><a href="#"><span>See More</span></a></div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <div class="type">
                                        <h6>Pre - Wedding</h6>
                                    </div>
                                    <div class="value">
                                        <h4>5500<span>$</span></h4>
                                        <p>Starting From</p>
                                    </div>
                                    <div class="feat">
                                        <ul>
                                            <li>Decoration</li>
                                            <li>DJ & Sound</li>
                                            <li>Photographer</li>
                                            <li>Venue Booking</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-contact"><a href="#"><span>See More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'include/footer.html' %}
        </div>
    </div>
    <!-- jQuery -->
{% endblock %}