{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<div class="wrap">
	{% include 'include/header.html' %}
	<div id="content">
		<div class="banner-slider banner-shop-slider bg-slider">
			<div class="wrap-item" data-pagination="true" data-autoplay="true" data-transition="fade" data-navigation="true" data-itemscustom="[[0,1]]">
				<div class="item-slider">
					<div class="banner-thumb"><a href="#"><img src="{{aboutgallery.image.url}}" alt="" /></a></div>
					<div class="banner-info">
						<div class="container">
							<div class="banner-content-text white text-center animated" data-animated="zoomIn">
								<h2 class="title30 mont-font" style="color: #FF887B"><br>{{aboutgallery.title}}</h2>
								<p>{{aboutgallery.desc}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- End Header -->
	<div id="content">
		<div class="bread-crumb">
			<div class="container">
				<a href="{% url 'index' %}">Главная страница</a> <a href="{% url 'blog' %}">Новости</a><span style="color: #FF887B">{{blog_detail.title}}</span>
			</div>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-pages single-content">
			<div class="container">
				<div class="single-intro">
					<div class="row">
						<div class="col-md-9 col-sm-8 col-xs-12">
							<p class="single-text-intro" style='color: rgb(70, 67, 67);'>
								{{blog_detail.title}} 
							</p>
						</div>
					</div>
				</div>
				<div class="banner-adv fade-out-in">
					<a href="#" class="adv-thumb-link"><img src="{{blog_detail.image.url}}  " alt="" /></a>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<p class="desc">{{blog_detail.desc|safe}} </p>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<p class="desc desc-margin">{{blog_detail.desc2|safe}}<p>
					</div>
				</div>
				<h4 class="blockquote">{{blog_detail.comment|safe}}</h4>
			</div>
		</div>
		<!-- End Content Pages -->
	</div>
	<!-- End Content -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->
	<a href="#" class="scroll-top round"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
{% endblock %}